<?xml version = "1.0" encoding = "UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5level] %d{yyyy-MM-dd hh:mm:ss.SSS a} [%thread] %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>build/logs/log-%d{yyyy-MM-dd}-%d{hh}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>3MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <pattern>[%-5level] %d{yyyy-MM-dd hh:mm:ss.SSS a} [%thread] %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>